.welcome {
  padding-left: 3rem;
}

p {
  padding-left: 3rem;
}

.home,
.quote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding: 3rem;
  background-color: #f3f3f3;
  box-shadow: 2px 2px 8px rgb(0, 0, 0);
}
