* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  box-shadow: 2px 2px 8px #aaa;
}

.screen {
  background: #858693;
  width: 100%;
  padding: 1rem;
  text-align: right;
  font-size: 1.5rem;
  color: #fff;
}

.button {
  width: 25%;
  padding: 1.5rem;
  background: rgb(224, 224, 224);
  font-size: 0.6rem;
  border: 1px solid rgb(215, 215, 215);
  text-align: center;
}

.row {
  display: flex;
  width: 100%;
}

.span-2 {
  width: 50%;
}

.col-4 {
  background: rgb(245, 145, 62);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .screen {
    width: 100%;
  }

  .row {
    width: 100%;
  }
}
