* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  box-shadow: 2px 2px 8px #aaa;
}

.screen {
  display: flex;
  background: #858693;
  font-size: 1.5rem;
  text-align: right;
  color: #fff;
}

td {
  width: 25%;
  padding: 1.5rem;
  background: rgb(224, 224, 224);
  font-size: 0.8rem;
  border: 1px solid rgb(215, 215, 215);
  text-align: center;
}

th {
  font-weight: 500;
  padding: 1rem;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.span-2 {
  width: 50%;
}

.col-4 {
  background: rgb(245, 145, 62);
}

.nav-bar {
  padding: 2rem;
}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  list-style: none;
}

.math {
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding-left: 2rem;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .screen {
    width: 100%;
  }

  .row {
    width: 100%;
  }
}
